@font-face {
	font-family: 'Lexend Regular';
	src: url('fonts/Lexend-Regular.ttf');
}

@font-face {
	font-family: 'Lexend Bold';
	src: url('fonts/Lexend-Bold.ttf');
}

@font-face {
	font-family: 'Lexend ExtraBold';
	src: url('fonts/Lexend-ExtraBold.ttf');
}

@font-face {
	font-family: 'Lexend Black';
	src: url('fonts/Lexend-Black.ttf');
}

@font-face {
	font-family: 'Lexend Medium';
	src: url('fonts/Lexend-Medium.ttf');
}

@font-face {
	font-family: 'Lexend ExtraLight';
	src: url('fonts/Lexend-ExtraLight.ttf');
}

@font-face {
	font-family: 'Lexend Light';
	src: url('fonts/Lexend-Light.ttf');
}

@font-face {
	font-family: 'Lexend SemiBold';
	src: url('fonts/Lexend-SemiBold.ttf');
}

@font-face {
	font-family: 'Lexend Thin';
	src: url('fonts/Lexend-Thin.ttf');
}

:root {
	--background-color: #000000;
	--accent-orange: #ff6b3d;
	--accent-yellow: #ffbe57;
	--accent-red: #e53645;
	--link-color: #808080;
	--link-hover-color: #fff;
	--link-icon-color: #4d4d4d;
	--link-icon-hover-color: var(--link-hover-color);
	--text-white: #fff;
	--laptop-max-width: 1024px;

	font-family: 'Lexend Regular';

	color: var(--text-white);
}

a {
	color: var(--link-color);

	font-family: 'Lexend Regular';
}

a:hover {
	color: var(--link-hover-color);
}

h1 {
	color: var(--text-white);
	font-family: 'Lexend Light';

	font-size: 3.3rem;
	line-height: 90%;
}

p {
	font-family: 'Lexend Light';
}
